<div class="form-holder _newForm _employeeCreate">
    <form method="post" action="" id="createEmployeeForm">
        <h4 class="_dialogTitlePositioned">Crear Empleados</h4>
        <ul class="dialog-tabs">
            <li>
                <a href="javascript:;" class="active">Principal</a>
            </li>
            <li>
                <a href="javascript:;" class="">Información Personal</a>
            </li>
            <li>
                <a href="javascript:;" class="">Trabajo</a>
            </li>
            <li>
                <a href="javascript:;" class="">Notas</a>
            </li>
            <li>
                <a href="javascript:;">Asignaciones</a>
            </li>
        </ul>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active">
                <div class="_formWrap">
                    <div class="_avatarBlock">
                        <div class="avatar">
                            <div class="upload">Editar
                                <input type="file"
                                       value="Edit"
                                       id="inputImg"
                                       accept="image/*">
                            </div>
                            <canvas id="avatar"
                                    width="140"
                                    height="140">
                            </canvas>
                        </div>
                    </div>
                    <!--<div class="_avatarBlock">
                        <div class="avatar">
                            <div class="upload">Edit
                                <input type="file"
                                       value="Edit"
                                       id="inputImg">
                            </div>
                            <canvas id="avatar"
                                    width="140"
                                    height="140">
                                <input type="file"
                                       value="Edit"
                                       id="File1">
                            </canvas>
                        </div>
                    </div>-->
                    <div class="_formBlock">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="first"
                                   autofocus
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Nombres</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="last"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Apellidos</label>
                        </div>
                        <div class="_animateInputBox">
                            <span class="_staticLabel" v-t="'empoyees-edittmp.dateofbirthin'">Fecha de Nacimiento</span>
                            <input type="text"
                                   name="dateBirth"
                                   class="_animate"
                                   id="dateBirth"
                                   placeholder="Date of Birth"
                                   readonly/>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="mobile"
                                   required
                                   maxlength="20"/>
                            <label class="_animate" v-t="'empoyees-edittmp.pmobilein'">Telefono Personal</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="personalEmail"
                                   required
                                   maxlength="48"/>
                            <label class="_animate" v-t="'empoyees-edittmp.personalemailin'">Correo electrónico personal</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="skype"
                                   required
                                   maxlength="64"/>
                            <label class="_animate">Skype</label>
                        </div>
                    </div>
                    <div class="_formBlock">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="LI"
                                   required
                                   maxlength="256"/>
                            <label class="_animate">LinkedIn</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="FB"
                                   required
                                   maxlength="256"/>
                            <label class="_animate">Facebook</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle" v-t="'empoyees-edittmp.sourcein'">Fuente</span>
                            <div class="_newSelectListWrap">
                                <a id="sourceDd"
                                   class="current-selected"
                                   data-id="www.rabota.ua"
                                   href="javascript:;">Select source</a>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="workEmail"
                                   required
                                   maxlength="48"/>
                            <label class="_animate" v-t="'empoyees-edittmp.workemailin'">Correo electrónico del trabajo</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="phone"
                                   required
                                   maxlength="20"/>
                            <label class="_animate" v-t="'empoyees-edittmp.workphonein'">Celular de Trabajo</label>
                        </div>
                        <div>
                            <label v-t="'empoyees-edittmp.username'">Usuario</label>
                            <span type="text"
                                  id="userName"></span>
                        </div>

                        <!--<dl class="create-employee-info">-->

                        <!--<dt>-->
                        <!--<label>Username</label>-->
                        <!--</dt>-->
                        <!--<dd>-->
                        <!--<span id="userName" style="color: #757575; vertical-align: sub;"></span>-->
                        <!--</dd>-->
                        <!--</dl>-->
                    </div>
                </div>
                <div class="clearfix">
                    <div class="cropImages form" style="display:none;">
                        <div class="image_input" style="float: left;margin-right: 20px;"></div>
                        <img class="image_output"/>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="_formWrap">
                    <h4 class="_titleBlueBorder" v-t="'empoyees-edittmp.citizenshipandother'">Ciudadanía  &amp; Otra Información</h4>
                    <div class="_formBlock _equal">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle" v-t="'empoyees-edittmp.nationalityin'">Nacionalidad</span>
                            <div class="_newSelectListWrap">
                                <a id="nationality"
                                   data-id=""
                                   class="current-selected"
                                   href="javascript:;">Select nationality</a>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="identNo"
                                   class="_animate"
                                   id="identNo"
                                   required
                                   maxlength="32"/>
                            <label class="_animate" v-t="'empoyees-edittmp.identificationin'">Identificación №</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="passportNo"
                                   class="_animate"
                                   id="passportNo"
                                   required
                                   maxlength="32"/>
                            <label class="_animate" v-t="'empoyees-edittmp.passportin'">Pasaporte №</label>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="bankAccountNo"
                                   class="_animate"
                                   id="bankAccountNo"
                                   required
                                   maxlength="32"/>
                            <label class="_animate" v-t="'empoyees-edittmp.bankaccountin'">Cuenta de Banco №</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="otherId"
                                   class="_animate"
                                   id="otherId"
                                   required
                                   maxlength="32"/>
                            <label class="_animate" v-t="'empoyees-edittmp.otheridin'">Otro Id</label>
                        </div>
                    </div>
                    <h4 class="_titleBlueBorder" v-t="'empoyees-edittmp.contactinformation'">Información de Contacto</h4>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="street"
                                   class="_animate homeAddress"
                                   id="employeeCreateStreet"
                                   required
                                   maxlength="60"/>
                            <label class="_animate" v-t="'empoyees-edittmp.streetin'">Dirección</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="city"
                                   class="_animate homeAddress"
                                   id="employeeCreateCity"
                                   required
                                   maxlength="60"/>
                            <label class="_animate" v-t="'empoyees-edittmp.cityin'">Ciudad</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="state"
                                   class="_animate homeAddress"
                                   id="employeeCreateState"
                                   required
                                   maxlength="32"/>
                            <label class="_animate" v-t="'empoyees-edittmp.statein'">Distrito</label>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="zip"
                                   class="_animate homeAddress"
                                   id="employeeCreateZip"
                                   required
                                   maxlength="32"/>
                            <label class="_animate" v-t="'empoyees-edittmp.zipcodein'">Código Postal</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle" v-t="'empoyees-edittmp.countryin'">Pais</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   name="country homeAddress"
                                   class="current-selected"
                                   id="employeeCreateCountry">Select country</a>
                            </div>
                        </div>
                    </div>
                    <h4 class="_titleBlueBorder" v-t="'empoyees-edittmp.status'">Estado Actual</h4>
                    <div class="_formBlock _equal">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle" v-t="'empoyees-edittmp.genderin'">Género</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="genderDd"
                                   data-id="male">Male</a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle" v-t="'empoyees-edittmp.employmenttypein'">Tipo De Trabajo</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="employmentTypeDd"
                                   data-id="">Select employment type</a>
                            </div>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle" v-t="'empoyees-edittmp.maritalstatusin'">Estado Civil</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="maritalDd"
                                   data-id="married">married</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item" id="job">
                <div class="_formWrap">
                    <div class="_formBlock">
                        <table class="stripedList _employeeJobTable" id="hireFireTable">
                            <colgroup>
                                <col width="60px">
                                <col width="60px">
                                <col width="85px">
                                <col width="85px">
                                <col width="70px">
                                <col width="70px">
                                <col width="75px">
                                <col width="75px">
                                <col width="97px">
                                <col width="55px">
                                <col width="80px">
                            </colgroup>
                            <thead>
                            <tr>
                                <th v-t="'empoyees-edittmp.statush'">Estado</th>
                                <th v-t="'empoyees-edittmp.dateh'">Fecha</th>
                                <th v-t="'empoyees-edittmp.jobpositionh'">Posición de Trabajo</th>
                                <th v-t="'empoyees-edittmp.departmenth'">Departamento</th>
                                <th v-t="'empoyees-edittmp.managerh'">Director</th>
                                <th v-t="'empoyees-edittmp.jobtypeh'">Tipo de Trabajo</th>
                                <th v-t="'empoyees-edittmp.scheduleh'">Horario</th>
                                <th v-t="'empoyees-edittmp.contracth'">Contrato</th>
                                <th v-t="'empoyees-edittmp.scheduledpayh'">Pago Programado</th>
                                <th v-t="'empoyees-edittmp.salaryh'">Salario</th>
                                <th v-t="'empoyees-edittmp.statusinfoh'">Estado de la información</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="transfer" data-id="0" data-content="hired">
                                <td>hired</td>
                                <td class="editable date"><%= moment(new Date()).format('D MMM, YYYY') %></td>
                                <td class="errorContent _newSelectListWrap">
                                    <a id="jobPositionDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="errorContent _newSelectListWrap">
                                    <a id="departmentsDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">
                                        Select
                                    </a>
                                </td>
                                <td class="_newSelectListWrap">
                                    <a id="projectManagerDD" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="errorContent _newSelectListWrap">
                                    <a id="jobTypeDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="_newSelectListWrap">
                                    <a id="weeklySchedulerDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="_newSelectListWrap">
                                    <a id="payrollStructureTypeDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="_newSelectListWrap">
                                    <a id="scheduledPayDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="editable" data-id="salary"></td>
                                <td>
                                    <input id="statusInfoDd"
                                           class="statusInfo"
                                           data-id=""/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="_formWrap">
                    <div class="_formBlock _thisNotes">
                        <div id="attach-container" class="_formNotes">
                        </div>
                        <div class="attachments _popupAttachments"></div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="assignees-container _formWrap _innedFlexDiv"></div>
            </div>
        </div>
    </form>
</div>